@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body  {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover; /* para cobrir toda a tela */
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    position: absolute; /* para o posicionamento central */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background:url(../imagens/frame-iphone.png) no-repeat;
}


/* Config do iframe do frame do iphone */
#tela { 
    position: relative;
    top: 80px;
    left: 21px;
    width: 268px;
    height: 470px;
}

/* Config dos apps */
#redes-sociais {
    text-align: right;
}

#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.616);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
    transition: transform .3s, border .3s;
}